<main>
    <h1>Welcome to the cat land</h1>
    <div class="wrapper">
        <button onclick="location.href='/black'">Black cats</button>
    </div>
    <div class="wrapper">
        <button onclick="location.href='/white'" style="color:#fff">White cats</button>
    </div>
    <div class="wrapper">
        <button onclick="location.href='/ginger'" style="color:#ed9e15">Ginger cats</button>
    </div>
    <div class="wrapper">
        <button onclick="location.href='/grey'" style="color: #777">Grey cats</button>
    </div>
<h3>If you don't like cats, you are a loser!</h3>
</main>