<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d02ce1600d.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <ul class="menu">
            <li class="logo"><a href="/">RESTAURANTS</a></li>
            <li class="item"><a href="/about">About</a></li>
            <li class="item"><a href="/contact">Contact</a></li>
            <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
        </ul>
    </nav>
    {{{body}}}
    <footer>
        <div class="footer">
            <i class="fab fa-instagram fa-lg icons"></i>
            <i class="fab fa-facebook fa-lg icons"></i>
        </div>
    </footer>
    <script src="/index.js"></script>
</body>
</html>